* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app {
    width: 50%;
    height: auto;
    margin: 0 auto;
    border: 0.1px solid gray;
    margin-top: 50px;
    margin-bottom: 0 auto;
    border-radius: 10px;
    padding: 20px;
}

button {
    width: 80px;
    padding: 7px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-radius: 5px;
}

.todo {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

.todo input {
    height: 35px;
    margin-right: 10px;
    width: 400px;
    font-family: Cambria, Cochin, Georgia, Times,
        "Times New Roman", serif;
    font-size: 18px;
    text-align: justify;
    border-radius: 5px;
    padding: 10px;
    border: 0.1px solid gray;
}

form {
    display: inline-flex;
}

form button {
    width: 100px;
    padding: 5px 9px;
    cursor: pointer;
    background: black;
    color: white;
}

.btnComponent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.btnComponent button {
    width: 100px;
    padding: 10px 9px;
    cursor: pointer;
}

.completed {
    background: red;
    color: whitesmoke;
}

.active {
    background: green;
    color: white;
}

.todo-items {
    display: flex;
    justify-content: space-between;
    background: #efefef;
    color: black;
    margin: 0 auto;
    margin-bottom: 8px;
    border-radius: 5px;
    align-items: center;
    width: 90%;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.todo-items button {
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    padding: "5px 9px";
    font-size: 18px;
    color: black;
    margin-right: 10px;
}

.todo-items input {
    margin-left: 5px;
}

.todo-items p {
    padding: 10px;
    font-size: 18px;
    display: inline-flex;
}
