body {
    overflow: auto;
}
.app {
    width: 50%;
    height: auto;
    margin: 0 auto;
    border: 0.1px solid gray;
    margin-top: 50px;
    border-radius: 10px;
    padding: 20px;
}

.app-name {
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 0.3px solid gray;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

button {
    width: 80px;
    padding: 7px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-radius: 5px;
}

.todo {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.todo input {
    margin-right: 10px;
    width: 400px;
    font-family: Cambria, Cochin, Georgia, Times,
        "Times New Roman", serif;
    font-size: 16px;
    font-style: italic;
    text-align: justify;
    border-radius: 5px;
    padding: 10px;
    border: 0.1px solid gray;
}

/* form {
    display: inline-flex;
} */

form button {
    width: 100px;
    padding: 5px 9px;
    cursor: pointer;
    background: black;
    color: white;
}

.btnComponent {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.btnComponent button {
    width: 100px;
    padding: 5px 4px;
    cursor: pointer;
}

.completed {
    background: #efefef;
    color: black;
}

.active {
    background: #efefef;
    color: black;
}

.todo-items {
    display: flex;
    justify-content: space-between;
    background: #efefef;
    color: black;
    margin: 0 auto;
    margin-bottom: 8px;
    border-radius: 5px;
    align-items: center;
    width: 90%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.todo-items button {
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 18px;
    color: black;
    margin-right: 10px;
}

.todo-items input {
    margin-left: 5px;
}

.todo-items p {
    padding: 3px;
    font-size: 18px;
    display: inline-flex;
}

/* Media query */
@media only screen and (max-width: 600px) {
    .app {
        width: 85%;
        margin: 0 auto;
        margin-top: 10px;
        /* border: none; */
    }
    .app-name {
        width: 85%;
        margin: 0 auto;
        margin-top: 40px;
        text-align: justify;
        font-size: 1.2rem;
        border-bottom: 0.3px solid gray;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }
    .todo {
        margin-bottom: 25px;
    }
    .todo input {
        width: 230px;
        padding: 5px;
    }
}

@media only screen and (min-width: 600px) {
    .app {
        width: 85%;
        margin: 0 auto;
        margin-top: 10px;
        /* border: none; */
    }
    .app-name {
        width: 85%;
        margin: 0 auto;
        margin-top: 40px;
        text-align: justify;
        font-size: 1.2rem;
        border-bottom: 0.3px solid gray;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }
    .todo {
        margin-bottom: 25px;
    }

    .todo input {
        width: 230px;
        padding: 5px;
        border: 0.2px solid black;
    }
}

@media only screen and (min-width: 768px) {
    .app {
        width: 85%;
        margin: 0 auto;
        margin-top: 10px;
        /* border: none; */
    }
    .app-name {
        width: 85%;
        margin: 0 auto;
        margin-top: 40px;
        text-align: center;
        font-size: 1.2rem;
        border-bottom: 0.3px solid gray;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }
    .todo {
        margin-bottom: 25px;
    }
    .todo input {
        width: 400px;
        padding: 8px;
        border: 0.2px solid black;
    }

    .todo-items p {
        font-size: 1.5rem;
        font-family: "Times New Roman", Times, serif;
        padding-left: 10px;
    }

    .todo-items input {
        margin-left: 10px;
    }
}
@media only screen and (min-width: 992px) {
    .app {
        width: 55%;
        height: auto;
        margin: 0 auto;
        margin-top: 10px;
        /* border: none; */
    }
    .app-name {
        width: 85%;
        margin: 0 auto;
        margin-top: 20px;
        text-align: center;
        font-size: 1.2rem;
        border-bottom: 0.3px solid gray;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }
    .todo {
        margin-bottom: 25px;
    }
    .todo input {
        width: 400px;
        padding: 8px;
        border: 0.2px solid black;
    }
    .todo-items {
        padding: 5px;
    }

    .todo-items p {
        font-size: 18px;
        font-family: "Times New Roman", Times, serif;
        padding-left: 10px;
    }

    .todo-items input {
        margin-left: 10px;
    }
}
